body{
background-color: grey;

}
.teto{


    background-color: rgb(255, 255, 255);
    height: 500px;
    width: 50%;
    border: dotted black;
    display: flex;
    
}


.corpo{


    background-color: yellow;
    height: 50px;
    width: 30%;
}

.final{


    background-color: orange;
    height: 100px;
    width: 30%;

}

.cabo{
background-color: rgb(19, 206, 19);
font: 30px;
padding: 50px;


}

